html {
    height: 100%;
}

body {
    min-height: 100%;
    position:relative;

    padding-top: 80px;

    background-image: url(../images/fond_bleu_25.png);
    background-attachment:fixed;
    background-size:100% 100%;
}

.test{
    border:solid 1px black;
}


/*MENU*/
div.menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height:80px;
    z-index: 10;

    background-color: white;
    clip:rect(0px,10000px,80px,0px);

    text-align: center;
}

img.bandeau {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
}

div.menuItem {
    display:inline-block;
    vertical-align:top;
    height:80px;
    line-height: 60px;
    padding:10px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    font-size: 200%;
}

a {
    color:gray;
    text-decoration:none;
}
a:hover {
    color:black;
    text-decoration:none;
}

div.menuItem:hover{
    color: black;
}

.toggler {
    position:absolute;
    right:0;
    top:0;
    height:40px;
    margin:20px;
    display:none;

    opacity:0.7;
}

.toggler:hover {
    opacity:1;
}




/*FOOTER*/
div.footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:80px;
    margin:0;

    background: none;

    padding-left:30px;
}



/*PAGE HOME*/
.center{
    height:300px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}




/*PAGE BARS*/
div.rowbar{
    height: 300px;
    position: relative;
}

div.titrebar{
    text-align: center;
    height:100%;
}

div.descriptionbar{
    position:absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}

.contentBars {
    width: 1200px;
    border: 4px;
    padding: 20px;
    overflow: hidden;
}

.contentBars img {
    margin-right: 15px;
    float: left;
}










/*


 CUSTOMIZE THE CAROUSEL
-------------------------------------------------- 

 Carousel base class 
.carousel {
    margin-bottom: 4rem;
}
 Since positioning the image, we need to help out the caption 
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

 Declare heights because of positioning of img element 
.carousel-item {
    height: 32rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


 MARKETING CONTENT
-------------------------------------------------- 

 Center align the text within the three columns below the carousel 
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


 Featurettes
------------------------- 

.featurette-divider {
    margin: 5rem 0;  Space out the Bootstrap <hr> more 
}

 Thin out the marketing headings 
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


 RESPONSIVE CSS
-------------------------------------------------- 

@media (min-width: 40em) {
     Bump up size of carousel content 
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
*/



.carousel{
    width:700px;
    height:350px;
    margin:auto;
}

.carousel-image{
    width:700px;
    height:350px;
    margin:auto;
}

div.artist_portrait{
    display:inline-block;
    margin-left: 60px;
    margin-right: 60px;
}