.test{
    border:solid 1px black;
}

div.menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height:80px;
    z-index: 10;
    
    background-color: #f5f5f5;
    border: solid 1px;
    border-color: #c8c8c8;
    
    text-align: center;
}

div.menuItem {
    display:inline-block;
    vertical-align:top;
    color:gray;
    height:80px;
    line-height: 60px;
    margin-right:10px;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 200%;
}

div.menuItem:hover{
    color: black;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position:relative;
    padding-top: 100px;
}

div.footer{
    background-color:black;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0
}

div.rowbar{
    height: 300px;
    position: relative;
}

div.titrebar{
    text-align: center;
    height:100%;
}

div.descriptionbar{
    position:absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}

.contentBars {
    width: 1200px;
    border: 4px;
    padding: 20px;
    overflow: hidden;
}

.contentBars img {
    margin-right: 15px;
    float: left;
}


a {
    color:gray;
    text-decoration:none;
}
a:hover {
    color:black;
    text-decoration:none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}